@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Road+Rage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-height: 1080px){
    .icons {
        position: relative;
        width: auto;
        /* height: 110px; */
    }
    body 
    {
        position: absolute;
        background-color: #0093E9;
        background-image: linear-gradient(0deg, #0093E9 0%, #80D0C7 82%);
        background-attachment: fixed;
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 3;
        top: 0;
        left: 0;
        /* mix-blend-mode: hard-light; */
    }

}

@media screen and (max-width: 575px ){
    .icons {
        position: relative;
        width: auto;
        height: 110px;
    }
    
    body 
    {
        position: absolute;
        background-color: #0093E9;
        background-image: linear-gradient(0deg, #0093E9 0%, #80D0C7 82%);
        background-attachment: fixed;
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 3;
        top: 0;
        left: 0;
        /* mix-blend-mode: hard-light; */
    }
}

/* .iconImg2{
  
} */

.icons 
{
    position: relative;
    width: auto;
    /* height: 110px; */
}

:root
{
    --MainBackgroudColor: white;
    --MainBorder: 2px solid white;
    --FontFamily: arial;
    --FontSize: 30px;
    --FontColor: white;
    --BtnColor:white;
    --FontFamilyALL: 'Oswald', sans-serif;
    --fontFamilyHeadline: 'Lobster';
    --fontFamilyP:'Bebas Neue';
    --fontFamilyHeadlineColor: #ffff;
    --fontSizeLabels: 20px;
    --fontFamilyMainBtns:'monospace';
    --fontSizeMainBtns: 25px;
}
/* 

FÅ VEKK mix-blend-mode: hard-light; PÅ BILDER!!! VIKTIG !! */



label {
   font-family: var(--FontFamilyALL);
   font-size: var(--fontSizeLabels);
}
/*DETTE ER FOR GIVEAWAY FUNCTION*/

.giveAwayMain
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items:center;
    height: auto;
    width: 80vw;
}
.giveAwayDescriptionBorder
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40vh;
    width: 30%; 
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    margin: 0px 100px 50px 100px;
}
.giveAwayDescriptionPreView
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: 40vh;
    width: 70%; 
    border: 2px solid rgb(106, 168, 79);
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 10px;
    margin: 0px 100px 50px 100px;
 
}
.giveAwaySetup
{
display: flex;
flex-direction: column;
}
.giveAwayDescriptionImage
{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-y: scroll;
    visibility: visible;
    height: 80%;
    width: 100%;
    border: 2px solid rgb(106, 168, 79);
    border-radius: 10px;
    margin: 0px 50px 0px 50px;
}
.giveAwayDescriptionInputs, .giveAwayDescriptionInputs input
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.giveAwayFoodBtns{
    position: relative;
    height: 24vh;
    width: 20vw;
    overflow: hidden;
}

.giveAwayFoodBtns:hover{
    box-shadow: -1px 1px 2px 2px black;
    /* min-inline-size: -webkit-fill-available; */

}

.giveAwayAdChoise
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    height: auto;
    width: auto;
    position: relative;
}
.giveAwayHistoryImageBorder
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: scroll;
    height: 40vh;
    width: 70%; 
    border: 2px solid rgb(106, 168, 79);
    border-radius: 10px;
    margin: 0px 100px 50px 100px;
}
.giveAwayHistoryImage
{
    display: flex;
    flex-direction: row;
}
/*variabler {
    --accent-color: #fcd75f;
    --background-color: #333;
    --text-color: rgb(214, 205, 205);
    transition: var(--transition-delay);
    background-color: var(--background-color);
    color: var(--text-color);
  }*/

  /* @-webkit-keyframes */
  
  /*small diveices*/



/*DETTE ER SLUTTEN FOR GIVEAWAY FUNCTION*/


/* 
.mainPageFrame{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: ;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
/* } */
P {
    font-family: var(--fontFamilyP);
    
}
/* #miniFramesDivider{

} */
.headLine {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 85px;
    position: relative;
    top: -6vh;
    font-family: var(--fontFamilyHeadline);
    color: var(--fontFamilyHeadlineColor);
    -webkit-text-stroke: 1.5px black;
}
.FirstPageHeadLine {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 85px;
    position: relative;
    top: -23vh;
    font-family: var(--fontFamilyHeadline);
    color: var(--fontFamilyHeadlineColor);
    -webkit-text-stroke: 1.5px black;
}
.headLineBrukerInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 85px;
    position: relative;
    top: -39vh;
    font-family: var(--fontFamilyHeadline);
    color: var(--fontFamilyHeadlineColor);
    -webkit-text-stroke: 1.5px black;
}
.findFoodPageheadLine {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 85px;
    position: relative;
    top: 6vh;
    font-family: var(--fontFamilyHeadline);
    color: var(--fontFamilyHeadlineColor);
    -webkit-text-stroke: 1.5px black;
}
.activeAdPageheadLine {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 85px;
    position: relative;
    top: -38vh;
    font-family: var(--fontFamilyHeadline);
    color: var(--fontFamilyHeadlineColor);
    -webkit-text-stroke: 1.5px black;
}
.MainheadLine {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 85px;
    top: -41vh;
    font-family: var(--fontFamilyHeadline);
    color: var(--fontFamilyHeadlineColor);
    -webkit-text-stroke: 1.5px black;
}
.GiveAwayHeadLine
{
    top: -41vh;

}
.newUserBorder
{
    height: auto;
    width: auto;
    height: 25%;
    /* border: 2px solid rgb(106, 168, 79); */
}
.newUserBorder p{
    /* margin-top: 10%; */
    font-size: var(--FontSize);
}
.mainFrame
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items:center;
    height: 85vh;
    width: 80vw;
  
}
.mainBtns{
    border: 2px;
    border-radius: 7px;
    height: auto;
    width: auto;
    padding: 10px;
    font-family: var(--fontFamilyMainBtns);
    font-size: var(--fontSizeMainBtns);
}
.mainBtns:hover {
    font-size: 26px;
    border: 0.5px solid black;
}
/* }
 .edit-mainbtns{
    border: 2px;
    border-radius: 7px;
    height: auto;
    width: auto;
    padding: 10px;
    font-family: var(--fontFamilyMainBtns);
    font-size: var(--fontSizeMainBtns);
    
}  */

.clickHere {
    min-inline-size: -webkit-fill-available;
}

    .clickHere:hover {
        font-size: 18px;
        background: #5aee5a99;
        min-inline-size: -webkit-fill-available;
    }


/* .mainbtns:hover {
   
}
.mainbtns:focus:{
  transform: scale(1.1);
} */
.newUserPageFrame
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    height: 85vh;
    width: 80vw;
}
.accountPageFrame {
    /* display: block; */
    font-variant: discretionary-ligatures;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    justify-content: space-around;
    /* align-items: center; */
    height: auto;
    width: auto;
    position: relative;
    /* top: -35vh; */
    /* grid-gap: 6px; */
    /* margin: 2px 21px; */
    /* top: 50%; */
    /* display: grid; */
    /* justify-items: center; */
    /* align-content: space-around; */ 
    border: 2px solid black;
}

input {
    text-align: -webkit-match-parent;
}

.userInfo 
{
    position: relative;
    top: 13px;
    display: grid;
}

.userInfo2
{
    /* position: relative; */
    /* top: 7px; */
    /* display: grid; */
    text-align: -webkit-center;

}
.loggUtBtn {
    background-color: red;
    color: white;
    /* min-inline-size: -webkit-fill-available; */
    /* top: 0vh; */
    left: -8vh;
    position: relative;
}

.loggUtBtnFindFoodPage {
    
        background-color: red;
        color: white;
        /* min-inline-size: -webkit-fill-available; */
        top: 33vh;
        left: -2vh;
        position: relative;
    
}
.loggUtBtnMenuPage {
    background-color: red;
    color: white;
    min-inline-size: -webkit-fill-available;
 
}

.loggUtBtnGiveAwayPage {
    background-color: red;
    color: white;
    /* min-inline-size: -webkit-fill-available; */
    /* top: -11vw; */
    /* position: relative; */
    /* left: -24vw; */
}

.loggUtBtnActiveAdPage {
    background-color: red;
    color: white;
    /* min-inline-size: -webkit-fill-available; */
    /* top: -32vh; */
    /* left: 11vh; */
    /* position: relative; */
    float: left;
    margin-inline-end: auto;
}
.loggUtBtnBrukerInfo {
    background-color: red;
    color: white;
    /* min-inline-size: -webkit-fill-available; */
    /* top: -32vh; */
    /* left: 11vh; */
    /* position: relative; */
    float: left;
    margin-inline-end: auto;
}
.frames
{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 50%;
    width: auto;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2px 55px;
}
.postedAdsframe
{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 50%;
    width: auto;
    display:flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 155px;
}


.miniFrames {
    background-color: rgb(211, 211, 211);
    border: 2px solid #607d3b;
    border-radius: 10px;
    /* height: 20vh;
    width: 25vw; */
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 2px;
    overflow: hidden;
    position: relative;
    float: right;
    left: -33px;
}
.loggUtBtnpostedAdsPage {
    background-color: red;
    color: white;
    /* min-inline-size: -webkit-fill-available; */
    top: -22vh;
    left: -12vh;
    position: relative;
}
.miniFrames2 {
    background-color: rgb(211, 211, 211);
    border: 2px solid #607d3b;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin: 2px;
    overflow: hidden;
    position: relative;
    float: right;
    left: -33px;
}
.userLoginFrames{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.giveFoodFrames
{
    background-color: rgb(211, 211, 211);
    border: 2px solid rgb(106, 168, 79);
    border-radius: 10px;
    height: 65vh;
    width: 75vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.headLinePostedAds {
    top: -28vh;
}
.anotherWindowForKenneth{
    border: 2px solid black;
}
.giveAwayFoodFrames {
    /* background-color: rgb(211, 211, 211); */
    /* border: 2px solid rgb(106, 168, 79); */
    /* border-radius: 10px; */
    /* height: auto; */
    width: auto;
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* left: 17vh; */
    position: relative;
    left: -9vh;
}
.giveAwayFoodFramesA
{
    background-color: rgb(211, 211, 211);
    border: 2px solid rgb(106, 168, 79);
    border-radius: 10px;
    height: 65vh;
    width: 75vw;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: fadeOut 2s, 1;
    animation-fill-mode: forwards;
}
@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.foodDescriptionImage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* overflow-y: scroll; */
    /* height: 80%; */
    width: auto;
    /* border: 2px solid rgb(106, 168, 79); */
    -webkit-writing-mode: vertical-rl;
    position: relative;
    top: 29vh;
    /* border-radius: 10px; */
    /* margin: 0px 50px 0px 50px; */
}
.foodDescriptionBorder 
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80%;
    width: 80%;
    border: 2px solid rgb(106, 168, 79);
    border-radius: 10px;
    /* margin: 0px 100px 0px 100px; */
    position: relative;
    left: 8vw;
}
.foodDescriptionInputs
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.foodAdDescription
{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 80%;
    width: 80%;
    border-radius: 10px;
    margin: 0px 100px 0px 100px;
}
.foodAdDescriptionInputs
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 80%;
    width: 30%;
    
    border: 2px solid rgb(106, 168, 79);
    border-radius: 10px;
    margin: 0px 100px 0px 100px;
}
.FoodPageFrame
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    height: 85vh;
    width: 80vw;
}
.foodGroupFrame
{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-around;
    border-radius: 10px;
    height: 80vh;
    width: 80vw;
    border: 2px solid rgb(106, 168, 79);
    overflow-y: scroll;
}
.foodGroupPhotoFrame
{
    width: 200px;
    height: 150px;
    margin: 30px;
    border: 2px solid rgb(106, 168, 79);
    display: flex;
    align-items: center;
    justify-content: center;
}
.uploadPhotoFrame
{
    text-align: center;
    width: 200px;
    height: 150px;
    border: 1px solid rgb(106, 168, 79);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
#output{
    width: 200px;
    height: 150px;
}
.imageDisplay
{
  border: 0.5px solid black;
  height: 250px;
  width: 350px;
}
.brukerInfo
{
display:flex;
text-align: center;
}
/* .miniFrames:hover {
    border: 0.2rem solid #ffffff;
}
.miniFrames2:hover {
    border: 0.2rem solid #ffffff;
} */
.overHeadButtons {
    /* display: flex; */
    /* justify-content: space-between; */
    position: relative;
    top: -21vh;
}

/* .overHeadButtonsActiveAdPage{

} */
.allergyButtons
{
    padding-bottom: 40px;
}
.beskrivelseInput
{
    width: 80%;
    height: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.isHidden
{
    display: none;
}
.isGrey
{
    filter: grayscale(1);
}
.adGrey
{
    filter: grayscale(1);
    cursor: not-allowed;
}
#isHidden
{
    display: none;
}
#isInvisible
{
    visibility: hidden;
}
#giveAwayAllergyCheckBoxes
{
display: flex;
flex-direction: row;
}
.btnRow
{
    display: flex;
    flex-direction: row;
}
.slide
{
    width:300px;
    height:300px;
}
.announcements{
    animation: slide 15s linear infinite;

    position: absolute;
    left: 0;
    bottom: 0;
    width : 0;
    z-index: 1;
    display: flex start 0vh end 0vh;
    flex-direction: row;

    
}
@keyframes slide {
    0% {
      transform: translateY(0,0,0);
    }
    100% {
      transform: translateY(1500px);
    }

  }






  /***************************
  her er det noe for chat box 
  ***************************/
  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 210px;
    right: 29vh;
    width: 199px;
    /* top: 22px; */
}
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 423px;
    padding: 10px;
    position: relative;
    left: -3vh;
    background-color: white;
}
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  #isBlock
  {
      display: block;
  }